In [5]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
plt.style.use('seaborn-pastel')

In [6]:
df = pd.read_csv("owid-covid-data (1).csv")

In [7]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149028 entries, 0 to 149027
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    149028 non-null  object
 1   continent                                   140034 non-null  object
 2   location                                    149028 non-null  object
 3   date                                        149028 non-null  object
 4   total_cases                                 146418 non-null  float64
 5   new_cases                                   146412 non-null  float64
 6   new_cases_smoothed                          145267 non-null  float64
 7   total_deaths                                129414 non-null  float64
 8   new_deaths                                  129610 non-null  float64
 9   new_deaths_smoothed                         145267 non-null  float64
 10  total_cases_per_million                     145734 non-null  float64
 11  new_cases_per_million                       145728 non-null  float64
 12  new_cases_smoothed_per_million              144588 non-null  float64
 13  total_deaths_per_million                    128743 non-null  float64
 14  new_deaths_per_million                      128939 non-null  float64
 15  new_deaths_smoothed_per_million             144588 non-null  float64
 16  reproduction_rate                           112010 non-null  float64
 17  icu_patients                                17322 non-null   float64
 18  icu_patients_per_million                    17322 non-null   float64
 19  hosp_patients                               19775 non-null   float64
 20  hosp_patients_per_million                   19775 non-null   float64
 21  weekly_icu_admissions                       1347 non-null    float64
 22  weekly_icu_admissions_per_million           1347 non-null    float64
 23  weekly_hosp_admissions                      2242 non-null    float64
 24  weekly_hosp_admissions_per_million          2242 non-null    float64
 25  new_tests                                   59360 non-null   float64
 26  total_tests                                 59523 non-null   float64
 27  total_tests_per_thousand                    59523 non-null   float64
 28  new_tests_per_thousand                      59360 non-null   float64
 29  new_tests_smoothed                          72331 non-null   float64
 30  new_tests_smoothed_per_thousand             71647 non-null   float64
 31  positive_rate                               67517 non-null   float64
 32  tests_per_case                              66855 non-null   float64
 33  tests_units                                 73771 non-null   object
 34  total_vaccinations                          37381 non-null   float64
 35  people_vaccinated                           35950 non-null   float64
 36  people_fully_vaccinated                     33132 non-null   float64
 37  total_boosters                              10701 non-null   float64
 38  new_vaccinations                            30975 non-null   float64
 39  new_vaccinations_smoothed                   68120 non-null   float64
 40  total_vaccinations_per_hundred              37381 non-null   float64
 41  people_vaccinated_per_hundred               35950 non-null   float64
 42  people_fully_vaccinated_per_hundred         33132 non-null   float64
 43  total_boosters_per_hundred                  10701 non-null   float64
 44  new_vaccinations_smoothed_per_million       68120 non-null   float64
 45  new_people_vaccinated_smoothed              66986 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  66986 non-null   float64
 47  stringency_index                            117268 non-null  float64
 48  population                                  148027 non-null  float64
 49  population_density                          132670 non-null  float64
 50  median_age                                  123819 non-null  float64
 51  aged_65_older                               122473 non-null  float64
 52  aged_70_older                               123154 non-null  float64
 53  gdp_per_capita                              124208 non-null  float64
 54  extreme_poverty                             82009 non-null   float64
 55  cardiovasc_death_rate                       122840 non-null  float64
 56  diabetes_prevalence                         129131 non-null  float64
 57  female_smokers                              95153 non-null   float64
 58  male_smokers                                93781 non-null   float64
 59  handwashing_facilities                      61513 non-null   float64
 60  hospital_beds_per_thousand                  110992 non-null  float64
 61  life_expectancy                             139082 non-null  float64
 62  human_development_index                     122315 non-null  float64
 63  excess_mortality_cumulative_absolute        5125 non-null    float64
 64  excess_mortality_cumulative                 5125 non-null    float64
 65  excess_mortality                            5125 non-null    float64
 66  excess_mortality_cumulative_per_million     5125 non-null    float64
dtypes: float64(62), object(5)
memory usage: 76.2+ MB

In [12]:
columns = df.columns.tolist()
columns.remove('population')

In [13]:
columns.insert(4,'population')

In [14]:
df = df[columns]

In [15]:
df.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,39835428.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [16]:
deathData = df.loc[:, :'weekly_hosp_admissions_per_million']

In [23]:
vaccinationCols = columns[:4] + columns[columns.index('weekly_hosp_admissions_per_million')+1:]
vaccinationData = df[vaccinationCols]
vaccinationData.head()

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [25]:
vaccinationData.to_csv("vaccination.csv")
deathData.to_csv("death.csv")

In [39]:
from sqlalchemy import create_engine
import MySQLdb
con  = create_engine("mysql+mysqldb://student:student@localhost/CovidData")

In [47]:
vaccinationData.to_sql(con=con, name='Vaccination', if_exists='replace')

C:\Users\pc\anaconda3\lib\site-packages\pandas\io\sql.py:1423: UserWarning: The provided table name 'Vaccination' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [48]:
deathData.to_sql(con=con, name='Deaths', if_exists='replace')

C:\Users\pc\anaconda3\lib\site-packages\pandas\io\sql.py:1423: UserWarning: The provided table name 'Deaths' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)